.create-product-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@scope(.create-product-page) {
  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input, select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
    }

    label {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;

      input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }
    }

    textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      resize: vertical;
      min-height: 50px;
    }

    button {
      padding: 10px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: #218838;
      }
    }

    .ingredients-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 8px;
        color: #333;

        .ingredient-item {
            background-color: #f1f1f1;
            padding: 14px 12px;
            border-radius: 16px;
            font-weight: bold;
            min-height: 32px;
            max-height: fit-content;
            min-width: 10%;
            max-width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-wrap: balance;
            text-align: center;
            gap: 8px;

            .delete-ingredient {
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                width: 30px;


                svg {
                    width: 100%;
                    height: 100%;
                    color: #dc3545;
                }
            }
        }
    }
  }

  .error-message {
    color: #dc3545;
    font-weight: bold;
    text-align: center;
  }

    .success-message {
        color: #28a745;
        font-weight: bold;
        text-align: center;
    }

    
}