.create-product-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (width <=600px) {
    max-width: 100%;
    margin: 0;
  }
}

@scope(.create-product-page) {
  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input,
    select {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
    }

    label {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;

      input[type="checkbox"] {
        width: 16px;
        height: 16px;
      }
    }

    textarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      resize: vertical;
      min-height: 50px;
    }
  }

  button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: #218838;
    }
  }



  .error-message {
    color: #dc3545;
    font-weight: bold;
    text-align: center;
  }

  .success-message {
    color: #28a745;
    font-weight: bold;
    text-align: center;
  }


}