.delete-modal[open] {
    --font-size: clamp(1rem, .5rem + 1vw, 1rem);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    backdrop-filter: blur(5px);
    color: white;
    border: 1px solid white;
    gap: 1.5rem;
    padding: 1rem;
    text-wrap: balance;

    & h2{
        font-size: var(--font-size);

    }

    @media screen and (max-width: 768px) {
        width: 80%;
        height: 30%;
    }

    @media screen and (max-width: 1180px) {
        width: 80%;
        height: 30%;
    }

}

.delete-modal-buttons {
    display: flex;
    gap: 1rem;
    
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--font-size);
}

.confirm-button {
    background-color: red;
    color: white;
}

.cancel-button {
    background-color: gray;
    color: white;
}