.filters {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

@scope(.filters){
    .filters-form{
        display: flex;
        justify-content: center;
        gap: clamp(1rem, 2vw, 2rem);
        width: 80%;
        flex-wrap: wrap;
    }

    input{
        border-radius: 6px;
        height: 3dvh;
    }

    select{
        width: 90px;
        border-radius: 6px;
        height: 30px;
    }
}