.header {
    --font-size-header: clamp(.2rem, .5rem + 2vw, 1.2rem);
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
    min-height: fit-content;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.hgroup {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 80%;
}

.title {
    font-size: var(--font-size-header);
}

.logo {
    height: 40px;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    font-size: clamp(.2rem, .5rem + 2vw, 1rem);


    &:hover {
        background-color: white;
        color: #333;
    }
}