header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
}

@scope (header) {
    img {
        height: 40px;
        margin-right: 15px;
        
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid white;
        padding: 5px 10px;
        border-radius: 8px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: white;
            color: #333;
        }
    }

}
