    .ingredients-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 8px;
        color: #333;

        .ingredient-item {
            background-color: #f1f1f1;
            padding: 6px 12px;
            border-radius: 16px;
            font-weight: bold;
            min-height: 30px;
            max-height: fit-content;
            min-width: 10%;
            max-width: fit-content;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-wrap: balance;
            text-align: center;
            gap: 8px;

            .delete-ingredient {
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                width: 30px;


                svg {
                    width: 100%;
                    height: 100%;
                    color: #dc3545;
                }
            }
        }
    }