.products-section{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
}

@scope (.products-section){
    .product-card{
        display: flex;
        flex-direction: column;
        align-items: start;


        & img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
        }

        .product-info{
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            align-items: start;

            & h2{
                margin: 0;
                font-size: 1.2em;
            }

            & .product-category{
                color: gray;
                font-size: 0.9em;
            }

            & p{
                margin: 4px 0;
                font-weight: bold;
            }
        }

    }
}